nav ul li{
    list-style: none;display: inline-block;margin-left: 20px;
    
}
nav{
    background-color: pink;
    padding: 10px;
}
div{
    height: 100px;
    width: 100px;
    background-color: lavender;
    border: 2px black solid;
}
